In [ ]:
introduction to list datatype

        string====>completed
        numbers===>integers(int) and float(decimal)
        list datatype
        Dictionaries

In [ ]:
introduction to list datatypes

defination: A list is  a collection of items defined in a particilar order
classification: it is classified as  mutale datatype ( which can edit/alter)
how to define the list datatype:[] #square bracket

In [2]:
students=[ 'arpita','ashwini', 'asma', 'bhuvan', 'david', 'karthik']
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [ ]:
introduction to indexing: '0,'1','2','3','4','5,'6',...

In [ ]:
#req: i want to acces ashwini name in the output

In [3]:
print(students[1])

ashwini

In [4]:
print(students[1].title())

Ashwini

In [ ]:
#req: i want to print bhuvan name in output:

In [5]:
print(students[3].title())

Bhuvan

In [ ]:
1. how to add new elements in the list
2 how to modify the elements in list
3. how to deleted the elementin the list

In [6]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [ ]:
#req: i want to add shafi name in the above list

In [9]:
students.append('shafi')

In [10]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [ ]:
# i want to add kaleem at 2nd indec position..

In [11]:
students.insert(2,'kaleem')

In [12]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [ ]:
interview question: what is the difference betwen append and insert in the list datatypes..

In [13]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [ ]:
#req: i want to modify arpita name to anand...

In [ ]:
students[0]='Anand'

In [14]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [ ]:
#req= i want to delete ashwini name in the above list...?

In [ ]:
del students[1]

In [15]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']