In [ ]:
Inrtoduction to  python programming

In [ ]:
undertsanding the variables in python

In [8]:
x=2

y=3

In [9]:
z= x+y

print(z)

5

In [ ]:
Rules for declaring the variables in python:

In [ ]:
Rule NO 1 : NO Namespaces while declaring the variables name in  python

In [13]:
first name='Faiyaz'

print(first name)

SyntaxError: invalid syntax (2296022308.py, line 1)

In [14]:
firstname='Faiyaz'
print(firstname)

Faiyaz

In [ ]:
Rule No 2 : A variable name should not start with a number **

In [17]:
1name='karthik'
print(1name)

SyntaxError: invalid decimal literal (2083674672.py, line 1)

In [18]:
name1= 'karthik'

print(name1)

karthik

Rule No 3 : A variable name should not contain anny special characters

  @ # $ % ^ & *

In [19]:
name@="deepak"

print(name@)

SyntaxError: invalid syntax (1875192697.py, line 3)

In [ ]:
introduction to datatypes in python:

In [ ]:
1. stings===> str
2. Numbers====> integers---> int and floats===> float ( decimals===>0.1,2)
3. lists ===> list
4. tuples===> tuple
5. Dictionaries===> dict

In [ ]:
Note: python is a case sensitive programing language

In [ ]:
classification of datatypes in python:

In [ ]:
Broadly datatypes are classified in to 2 different categories:

  1  mutable datatypes====> which can edit /alter===>flexible in nature
  2 immutable datatypes===> which we cannot be able to eidt ==>not flexible in nature

In [ ]:
introduction to string datatypes:

In [ ]:
defination: A string is a series  of character declared in quotes

In [ ]:
classification: it is classified as an  immutable  datatype

In [ ]:
how to declare the string datatype===>2 approaches

In [ ]:
1  single quote
2 doubel quote

In [20]:
name='joseph'   # single quote

print(name)

joseph

In [23]:
name2= "kavya" #double quote

print(name2)

kavya

In [ ]:
introduction to string  methods:

In [24]:
type(name)

str

In [25]:
type(name2)

str

In [26]:
fullname='zeba ansari'

print(fullname)

zeba ansari

In [ ]:
#req: to cprrect the format

In [27]:
print(fullname.title())

Zeba Ansari

In [ ]:
#req: i want the entire name in capital case:

In [28]:
print(fullname.upper())

ZEBA ANSARI

In [ ]:
# i want the entire name in small case:

In [29]:
print(fullname.lower())

zeba ansari