In [ ]:
Organizing the list datatype:

In [6]:
cars=['bmw','tata','suzuki','audi','toyota','benz']

print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [7]:
type(cars)

list

In [ ]:
#req: i want to organizse list in alphabetical order..

In [ ]:
A,B,C,D

In [ ]:
there are 2 approaches 
    1.temporary approach===>sorted method==>we will be able to get the original order deifned
    permanent approach===> sort method

In [8]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
interview question: what is the difference between sorted and sort method in a list datatype?

In [ ]:
#i want to counut the no of  elements in the list

In [9]:
len(cars)

6

In [ ]:
#req: i want to print the list in A-Z.Z-A

In [ ]:
cars.reverse()

In [10]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [ ]:
cars.reverse()

In [11]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [ ]:
# is used for ommenting the  code

In [ ]:
introduing to slicing:

In [13]:
students=['anika','arpita','bhusan','bhanu','chandra','cynthya','danish']
print(students)

['anika', 'arpita', 'bhusan', 'bhanu', 'chandra', 'cynthya', 'danish']

In [ ]:
#general syntax for slicing:

In [ ]:
formula [start_value:stop_value:step count]

In [ ]:
Note: stop is always exclusive , to include the stop value increment the indexx by +1

In [ ]:
#req: i want to include anika and arpita in the slice.

In [14]:
print(students[0:1])

['anika']

In [15]:
print(students[0:2])

['anika', 'arpita']

In [ ]:
# req: Bhushan and Bhanu

In [16]:
print(students[2:4])

['bhusan', 'bhanu']

In [17]:
print(students[0:7:2])

['anika', 'bhusan', 'chandra', 'danish']

In [18]:
print(students)

['anika', 'arpita', 'bhusan', 'bhanu', 'chandra', 'cynthya', 'danish']

In [ ]:
introduction to tuple datatype:

In [ ]:
defination: An imutable list is called as a tuple

classification: It is  classified d as an immutable datatype
how to define the tuple datatype:()

In [20]:
dimension=(20,50)
print(dimension)

(20, 50)

In [22]:
type(dimension)

tuple

In [ ]:
dimension[0]=30

In [23]:
print(dimension[1])

50